# Node
node_modules/
.next/

# Python
__pycache__/
*.pyc
.env
.venv

# Docker
*.log

# OS
.DS_Store
Thumbs.db


# dependencies
node_modules/
frontend/node_modules/

# build
dist/
.next/

# env
.env
.env.local

